<!DOCTYPE html>
<html lang="en">

<%-include('partials/header');%>

<body>
    <!-- Navbar Start -->
    <%-include('partials/navbar',{active: active});%>
    <!-- Navbar End -->

    <!-- Header Start -->
    <% if(active=='index' ){ %>
        <div class="jumbotron jumbotron-fluid position-relative overlay-bottom" style="margin-bottom: 90px;">
                    <div class="container text-center my-5 py-5">
                        <h1 class="text-white mt-4 mb-4">Show your hack</h1>
                        <h1 class="text-white display-1 mb-5">Hacker Box</h1>
                        <div class="mx-auto mb-5" style="width: 100%; max-width: 600px;">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="btn btn-outline-light bg-white text-body px-4 dropdown-toggle"
                                        type="button" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">Hack</button>
                                </div>
                                <input type="text" class="form-control border-light" style="padding: 30px 25px;"
                                    placeholder="Keyword">
                                <div class="input-group-append">
                                    <button class="btn btn-secondary px-4 px-lg-5">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
    <% } %>
    <!-- Header End -->
    
    <!-- About Start -->
    <%-include('partials/about') %>
    <!-- About End -->

    <!-- Courses Start -->
    <%-include('partials/hackathons');%>
    <!-- Courses End -->

    <!-- Courses detail Start -->
    <%-include('partials/details');%>
    <!-- Courses detail End -->

    <!-- Detail Start -->
    <%-include('partials/hackdetails');%>
    <!-- Detail End -->

    <!-- Contact Start -->
    <%- include('partials/create');%>
    <!-- Contact End -->

    <!-- Footer Start -->
    <%- include('partials/footer');%>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary rounded-0 btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/waypoints/waypoints.min.js"></script>
    <script src="/lib/counterup/counterup.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="/js/main.js"></script>
</body>
</html>